body {
    background-color: rgba(72, 136, 4, 0.597);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 600px;

}

li::after {
    content: " ⭐"
}

h1::first-line {
    background-color: rgb(0, 208, 255);
}

h2::before {
    content:"🐈‍⬛";
}

li:nth-child(odd) {
    background-color: white;
}

li:first-child {
    background-color: rgb(137, 219, 14);
}

li:last-child {
    background-color: darkcyan;
}

p::first-letter {
    font-size: large;
    font-weight: bold;
    border: 2px solid black;
    border-style: double;
    background-color: black;
    color: white;
}

p:nth-child(even) {
    background-color: burlywood;
}

.norwegian-forest-cat::before {
    content: "This content is before";
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aqua;
    font-size: 20px;
}

.norwegian-forest-cat::after {
    content: "Content is after";
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

button:hover {
    background-color: rgba(255, 13, 0, 0.634);
    color: white;
}

h1:not(.maine-coon-cat) {
    color: brown;
}